{% extends 'layout.html' %}
{% block body %}
<h1> Formas de nos contactar</h1>


<div class="texto">
<h3> Trabalhar com a butterfly doors </h3>
<p> Se estiveres interessado em trabalhar connosco e ajudar-nos a abrir o nosso mundo, visita as nossas redes sociais. </p>

<h3> Publicidade e vendas </h3>
<p> Se estiveres interessado em oportunidades de publicidade e vendas de média, por favor escreve-nos para o diogofssilva777@gmail.com </p>

<h3> Ser listado na butterfly doors </h3>
<p> Se és uma companhia aérea ou agência de viagem online que quer ser listada na butterfly doors, por favor escreve-nos para o diogofssilva777@gmail.com </p>

<h3> Parcerias </h3>
<p> Se pertences a uma organização, plataforma comercial, órgão de comunicação ou és um influenciador com interesse em oportunidades de parceria com a butterfly doors, por favor escreve-nos para o diogofssilva7@gmail.com </p>

</div>
<br>
{% endblock %}
