<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Butterfly | doors</title>

    <link rel="shortcut icon" href="static/favicon.png">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block head %}
    {% endblock %}

</head>
<body>

<div class="navbar">
    <a class="active" href="/"><i class="fa fa-fw fa-home"></i> Ínicio</a>
    <a href="#"><i class="fa fa-fw fa-search"></i> Procurar</a>
    <a href="#"><i class="fab fa-avianex"></i> Voos</a>
    <a href="#"><i class="fas fa-hotel"></i> Hotéis</a>
    <a href="#"><i class="fas fa-car"></i> Carros</a>
    <a href="/registo"><i class="fa fa-fw fa-user"></i> Registo</a>
    <a href="/login"><i class="fa fa-fw fa-lock"></i> Iniciar Sessão</a>
    <a href="/newpasse"><i class="fa fa-fw fa-recycle"></i> Alterar Passe</a>
    <a href="/apagar"><i class="fa fa-fw fa-recycle"></i> Eliminar Conta</a>
</div>

{% block body %}
{% endblock %}

<footer class="footer-distributed">
        <div class="footer-right">
            <div class="social"><a href="https://www.facebook.com" class="fa fa-facebook fa-10x" ></a> <a href="https://www.youtube.com" class="fa fa-youtube fa-10x"></a> <a href="https://www.instagram.com" class="fa fa-instagram fa-10x"></a></div>
        </div>
        <div class="footer-left">
            <p class="footer-links">
                <a href="/">Ínicio</a>
                <a href="sobre nós">Sobre nós</a>
                <a href="login">Login</a>
                <a href="registo">Registo</a>
                <a href="contactos">Contactos</a>
            </p>
            <p>Diogo Silva &copy; 2019</p>
        </div>

		</footer>



</body>
</html>
