{% extends 'layout.html' %}
{% block body %}
<h1> Sobre a nossa Agência de Viagens</h1>


<div class="texto">
<h3> O que fazemos </h3>
<p> A Butterfly | doors é um website de viagens gratuito e inspirador que compara milhões de voos baratos, hotéis e carros de aluguer. </p>
<p> Damos aos viajantes uma visão geral das opções de viagem disponíveis no mercado, sem adicionar taxas. </p>
<p> Não fazemos reservas de voos, quartos de hotel ou carros de aluguer – mostramos-te os preços disponíveis para que escolhas a oferta que preferires. Com um click vais directamente para o site que escolheste para completar a tua reserva. </p>

<h3> A nossa visão </h3>
<p> Todos deviam poder viajar pelo mundo. A nossa visão é de um mundo onde as nossas diferenças são uma fonte de inspiração e desenvolvimento, não de intolerância e preconceito. O nosso objetivo é encorajar cada um de nós a manter-se curioso e de mente aberta para que todos possamos desfrutar de um mundo melhor e mais diversificado.</p>

<h1> Stay curious </h1>
</div>
<br>
{% endblock %}
